body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/**
* SCROLL BAR
*/

div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-right: 2px;
}

div::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

div::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

div::-webkit-scrollbar-track {
  background: #555555;
  border-radius: 4px;
}

div::-webkit-scrollbar-track:hover,
div::-webkit-scrollbar-track:active {
  background: #888888;
}

